# Database settings
WORDPRESS_DB_HOST=db
WORDPRESS_DB_NAME=wordpress

#--------------- CHANGE ---------------
MYSQL_ROOT_PASSWORD=you-strong-complex-password 

# Redis
REDIS_VERSION=alpine

# WordPress installation settings
#--------------- CHANGE ---------------
WORDPRESS_TITLE=WordPress Multisite
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=securepassword123
WORDPRESS_ADMIN_EMAIL=admin@your-domain.com

# WordPress Multisite settings (for manual activation)
# These values will be used when you uncomment the constants in wp-config.php
SUBDOMAIN_INSTALL=false

#--------------- CHANGE ---------------
DOMAIN_CURRENT_SITE=www.your-domain.com

PATH_CURRENT_SITE=/
SITE_ID_CURRENT_SITE=1
BLOG_ID_CURRENT_SITE=1

# WordPress exposure
WORDPRESS_LOCAL_PORT=8080
MARIADB_VERSION=11.5 