# Database settings
WORDPRESS_DB_HOST=db
WORDPRESS_DB_NAME=wordpress

#--------------- CHANGE ---------------
MYSQL_ROOT_PASSWORD=you-strong-complex-password 

# Redis
REDIS_VERSION=alpine

# WordPress Multisite settings
SUBDOMAIN_INSTALL=false

#--------------- CHANGE ---------------
DOMAIN_CURRENT_SITE=www.your-domain.com

PATH_CURRENT_SITE=/
SITE_ID_CURRENT_SITE=1
BLOG_ID_CURRENT_SITE=1

# NGINX exposure
NGINX_LOCAL_PORT=8080
MARIADB_VERSION=11.5 